.dynamic-theme-way2 {
  width: 300px;
  height: 400px;
  display: inline-block;
  margin-right: 20px;

}
.dynamic-theme-way2 .dynamic-center {
  margin-top: 1px;
}
.dynamic-theme-way2 .dynamic-center .dynamic-button {
  padding: 8px 16px;
  border-radius: 10%;
}
.dynamic-theme-way2 .dynamic-header {
  height: 40px;
}
.dynamic-theme-way2 .dynamic-header .dynamic-title {
  font-size: 16px;
}

.dynamic-theme-way2 {
  background-color: yellowgreen;
}
.dynamic-theme-way2 .dynamic-center {
  background-color: white;
}

.dynamic-theme-way2 .dynamic-center .dynamic-button {
  background-color: yellowgreen;
}

.dynamic-theme-way2 .dynamic-header {
  background-color: white;
}

.dynamic-theme-way2 .dynamic-header .dynamic-title {
  color: #000;
}